.container_LIST {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.filter {
  margin-bottom: 20px;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
}

.filter-input-left,
.filter-input-right {
  flex: 1; /* Equal width for both filter inputs */
}

.filter label {
  margin-right: 5px;
  font-weight: bold;
}

.filter input {
  padding: 5px;
  width: 100%; /* Take up full width of parent */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.filter button:hover {
  background-color: #0056b3;
}

.signal-slaves-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.signal-slaves-table th,
.signal-slaves-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.signal-slaves-table th {
  background-color: #f2f2f2;
  color: black;
}

.signal-slaves-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.signal-slaves-table tr:hover {
  background-color: #ddd;
}
