/* Interface1.module.css */

.dashboard {
  padding: 20px;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* .group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin: 0 10px; 
}

.element {
  flex: 1 1 calc(33.333% - 20px);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.group {
  flex: 1;
  margin: 0 10px;  
}

.element {
  border: 1px solid #ddd; 
  border-radius: 5px; 
  padding: 15px; 
  margin: 10px 0; 
  background-color: #fff; 
} 
.fullWidth {
  flex: 1 1 100%;
}

@media (max-width: 1024px) {
  .element {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .element {
    flex: 1 1 100%;
  }
}

.d3-weather-container {
  display: flex;
  gap: 20px;
}

.element1  {
  max-width: 300px; /* Adjust the width to your desired smaller size */
}

